
body{
    margin: 0px;
    padding: 0px;
    --MSGWIDTH: 800px;
    --MSGHEIGHT:80px;
    --MainCol: rgb(43, 40, 40);
    --TextMsg: rgb(67, 64, 64);
    scroll-behavior: none;
}

.Main{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--MainCol);
    align-items: center;
    height: 100vh;
}

.Main form{
    
    display: flex;
    flex-direction: row;
    background-color:inherit;
    width: 100%;
    justify-content: center;    
}

/* .Main form button {
    display: flex;
    flex-direction: row;
    background-color: rgb(237, 231, 231);

}
 */

.MSG{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

#MSGTYPE{
    background-color: var(--TextMsg);
    width: var(--MSGWIDTH);
    height: 50px;
    border: 1px;

    padding: 5px;

    border-radius: 5px;
}

 input{
    border: none;
    background-color: none;
    width: 70;
}

.ButtonHolder{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MSGBoard{
    padding-top: 10px;
    width: var(--MSGWIDTH);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.MsgBox{
    width: var(--MSGWIDTH);
    height: var(--MSGHEIGHT);
    text-decoration: none;
    background-color: red;
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-top: 4px;

    border-radius: 10px;

}




form{
    margin-top: 10px;
}

.chat-container {
    height: 100%;
    width: 100%;
    margin: none;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.message-container {
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
    display: flex;
    align-items: center;
}

.sender-message {
    background-color: #e0e0e0;
    color: #000;
    align-self: flex-start;
}

.receiver-message {
    background-color: #4CAF50;
    color: #fff;
    align-self: flex-end;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message input {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: inherit;
    color: white;
}

input:focus {
    outline: none;
    caret-color: white;

}

.message button {
    padding: 8px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}