
body{
    margin: 0px;
    padding: 0px;
    --MSGWIDTH: 800px;
    --MSGHEIGHT:80px;
    --MainCol: rgb(43, 40, 40);
    --TextMsg: rgb(67, 64, 64);
    scroll-behavior: none;
}

.Main{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--MainCol);
    align-items: center;
    height: 100vh;
}

.Main form{
    
    display: flex;
    flex-direction: row;
    background-color:inherit;
    width: 100%;
    justify-content: center;    
}

.Main form button {
    display: flex;
    flex-direction: row;
    background-color: red;

}


.MSG{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    width: var(--MSGWIDTH);
    height: 75vh;
}

#MSGTYPE{
    background-color: var(--TextMsg);
    width: var(--MSGWIDTH);
    height: 50px;
    border: 1px;

    padding: 5px;

    border-radius: 5px;
}

.ButtonHolder{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MSGBoard{
    padding-top: 10px;
    width: var(--MSGWIDTH);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.MsgBox{
    width: var(--MSGWIDTH);
    height: var(--MSGHEIGHT);
    text-decoration: none;
    background-color: red;

    margin: 0px;
    margin-top: 4px;

    border-radius: 10px;

}

form{
    margin-top: 10px;
}