body{
    margin: 0px;
    padding: 0px;
}

.Main{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: center;
    height: 100vh;
}

.Main form{
    
    display: flex;
    flex-direction: row;
    background-color:aqua;
    width: 100%;
    justify-content: center;    
}

.Main form button {
    display: flex;
    flex-direction: row;
    background-color: red;

}


.MSG{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 75vh;
}

#MSGTYPE{
    width: 400px;
    height: 50px;
    border: 1px;

    padding: 5px;

    border-radius: 50px;
}

.ButtonHolder{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}